    <div ng-controller="OptionsCtrl">

    	<div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <label class="col-lg-2 control-label">Texto</label>
            <label class="col-lg-2 control-label">Valor</label>
        </div><!--form control-->

    	<div class="form-group">
            <label class="col-lg-2 control-label">Opción 1</label>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Texto" name="option[opt1][text]" type="text" ng-model="options.opt1.text">
            </div>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Valor" name="option[opt1][value]" type="text" ng-model="options.opt1.value">
            </div>
        </div><!--form control-->

    	<div class="form-group">
            <label class="col-lg-2 control-label">Opción 2</label>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Texto" name="option[opt2][text]" type="text" ng-model="options.opt2.text">
            </div>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Valor" name="option[opt2][value]" type="text" ng-model="options.opt2.value">
            </div>
        </div><!--form control-->

    	<div class="form-group">
            <label class="col-lg-2 control-label">Opción 3</label>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Texto" name="option[opt3][text]" type="text" ng-model="options.opt3.text">
            </div>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Valor" name="option[opt3][value]" type="text" ng-model="options.opt3.value">
            </div>
        </div><!--form control-->

    	<div class="form-group">
            <label class="col-lg-2 control-label">Opción 4</label>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Texto" name="option[opt4][text]" type="text" ng-model="options.opt4.text">
            </div>
            <div class="col-lg-2">
				<input class="form-control" placeholder="Valor" name="option[opt4][value]" type="text" ng-model="options.opt4.value">
            </div>
        </div><!--form control-->

    </div>
