<div class="text-center question-text">
	{{question.description}}
	<div class="question-options dropdown" ng-controller="OptionsCtrl">
	  <button class="btn btn-lg dropdown-toggle btn-option" ng-class="{'btn-primary':!chooseMsg}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="correctMenuPosition($event)">
	    {{chooseMsg || '< SELECCIONAR >'}}
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li ng-repeat="(key, opt) in question.options"><a ng-click="clickAnswer(opt)">{{opt.text}}</a></li>
	  </ul>
	</div>
	{{question.description_suffix}}
</div>