<div class="md-padding">
	<div layout="row">
	<h2 class="d-display-3">
		{{question.description}}

		<md-input-container>
			<label ng-hide="question.answer">< SELECCIONAR ></label>
			<md-select ng-model="question.answer" md-on-open="openSelect()" md-on-close="closeSelect()">
	          <md-option ng-repeat="opt in question.options" ng-value="opt">
	            {{opt.text}}
	          </md-option>
	        </md-select>
	    </md-input-container>

		{{question.description_suffix}}
	</h2>
	</div>
</div>
