@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

/**
 * Frontend Styles Start Here
 */
.question-options{
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	.dropdown-menu{
		top: 0px;
		left: 0px;
		position: fixed;
	}
}

.question-text{
	font-size: 3em;
}

.btn-option{
	font-size: inherit;
}