@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

*:focus,
* {
    outline: none !important;
}

textarea{
  resize: none;
}

.form-control {
  border-radius: 0px;
}


/* CSS de  Mariana */

body{
  background: #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: none;
    &.body-home{
      padding-top: 0px;
    }
    &.body-app{
      padding-top: 100px;
    }
  }
.body2{
  background: url(/images/bg-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.jumbotron{
  box-shadow: -20px -20px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron-home{
  box-shadow:none;
  background-color: none;
  background: url(/images/bg-transparente.png) repeat;
  height: 100vh;
  }
.jumbotron-final{
  box-shadow: -20px 0px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.container .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius:0px;
  margin-top:20px;
  padding-top:20px;
}
.navbar-inverse{
  background:#e5e5e5;
    border: none;
  }
.navbar-nav{
  text-align:right;
  float:right;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  padding:15px 0 0 5px;
  }
p.respuesta{
  font-size:12px;
  margin:20px 0;
  }
@media (min-width: 1200px) {
  .navbar-brand{
  font-size:16px;
  padding:20px 0 0 10px;
  }
  p.respuesta{
  font-size:16px;
  margin:20px 0;
  }
}
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  font-size:12px;
  }
@media (min-width: 1200px) {
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  }
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color:#1a2157;
  }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:#a80e16;
  }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#a80e16;
}

.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:16px
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:#494949;
  font-size:11px;
  text-transform:uppercase;
}
@media (min-width: 1200px) {
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:20px
}
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:30px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:30px
}}
.progress-bar-success {
background-color: #a50f10;
background-image: none;
}

.jumbotron p.pregunta-counter{
  font-size:12px;
  font-weight:200;
  color:#a50f10;
  padding:0;
  margin:0;
  text-transform:uppercase;
  }
.well {
    min-height: 20px;
    padding: 10px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0 0 0;
}
.well p{
  font-size:16px;
  }
@media (min-width: 1200px) {
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0;
}
.well p{
  font-size:22px;
  }
}
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 5px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:12px;
  border:none;
  margin-bottom:5px;
}
@media (min-width: 1200px) {
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 40px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:16px;
  border:none;
  margin-bottom:15px;
}
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #a50f10;
    text-decoration: none;
    background-color: #f5f5f5;
  border:none;
}
.btn-especial{
  position: relative;
  vertical-align: center;
  color: #1a2156;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  padding:14px 15px 14px 15px;
}
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:5px 6px 5px 6px;
}
.btn-especial-grande{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  line-height:22px;
  padding:13px 15px 13px 15px;
  font-size:21px;
}
.btn-especial2{
  position: relative;
  vertical-align: center;
  color: #fff;
  text-align: center;
  background: #a50f0f;
  border: 0;
  border-left: 10px solid #1a2156;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:14px 35px 14px 35px;
  font-size:20px;
}
.btn-especial3{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:10px 25px 10px 25px;
  font-size:16px;
}
.btn-especial:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-especial:hover {
  background: #e5e5e5;
  color: #a50f0f;
}
.boton-abajo-right{
  float:right;
  }
.boton-abajo-left{
  float:left;
  }
.boton-abajo-right i{
color: #a50f0f;
  }
.boton-abajo-left i{
color: #a50f0f;
  }

.ui-slider-range {
   background:green;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.numero-grande{
  font-size:40px;
  color:#a50f0f;
  display:block;
  margin:0;
  padding:0;
  }
.jumbotron .col-md-6{
  margin-bottom:30px;
  }
.resultado-carita .img-responsive {
    margin: 10px auto 0 auto;
}
.btn{
  font-size:10px;
  }
@media (min-width: 1200px) {
  .numero-grande{
  font-size:80px;
  color:#a50f0f;
  display:block;
  }
.jumbotron .col-md-6{
  margin-bottom:0px;
  }
.resultado-carita .img-responsive {
    margin: 20px auto 0 auto;
}
.btn{
  font-size:14px;
  }
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:10px 12px 10px 12px;
}
}

.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.bg-info{
  background-color:#e5e5e5;
  padding:10px;
  font-family: 'Capriola', sans-serif;
}
footer{
  background-color:#1a2156;
  padding:10px 0;
  }
footer a{
  margin:5px;
  color:#fff;
  cursor: pointer;
  }
footer a:hover{
  color:#fff;
  }
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.final-final{
  background-color:#ebebeb;
  margin-right:30px;
  margin-bottom:20px;
  padding:15px;
  color:#a50f0f;
  text-align:center;
  }
.final-final b{
  text-decoration:underline;
  }
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

/* CSS anterior */

/*
body{
  background: #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: none;

    &.body-home{
      padding-top: 0px;
    }
    &.body-app{
      padding-top: 100px;
    }
  }
.body2{
  background: url('/images/bg-home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.jumbotron{
  box-shadow: -20px -20px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron-home{
  box-shadow:none;
  background-color: none;
  background: url('/images/bg-transparente.png') repeat;
  height: 100vh;
    .logo-home{
      margin: 30px 0;
    }
  }
.jumbotron-final{
  box-shadow: -20px 0px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
    &.respuesta{
      margin-top: 20px;
    }
}
.container .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius:0px;
  margin-top:20px;
  padding-top:0px !important;
}
.navbar-inverse{
  background:#e5e5e5;
    border: none;
  }
.navbar-nav{
  text-align:right;
  float:right;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  }
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  font-size:12px;
  }
@media (min-width: 1200px) {
  .navbar-brand span.text-muted{
    color:#ccc;
    font-weight:normal;
    }
  .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    color:#1a2157;
    text-transform:uppercase;
    font-weight:300;
    text-shadow:0;
  }
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color:#1a2157;
  }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:#a80e16;
  }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#a80e16;
}

.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:20px
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:#494949;
  font-size:11px;
  text-transform:uppercase;
}
@media (min-width: 1200px) {
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:30px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:30px
}}
.progress-bar-success {
background-color: #a50f10;
background-image: none;
}

.jumbotron p.pregunta-counter{
  font-size:12px;
  font-weight:200;
  color:#a50f10;
  padding:0;
  margin:0;
  text-transform:uppercase;
  }
.well {
    min-height: 20px;
    padding: 10px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0 0 0;
}
.well p{
  font-size:16px;
  }
@media (min-width: 1200px) {
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0;
}
.well p{
  font-size:22px;
  }
}
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 5px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:12px;
  border:none;
  margin-bottom:5px;
}
@media (min-width: 1200px) {
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 40px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:16px;
  border:none;
  margin-bottom:15px;
}
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #a50f10;
    text-decoration: none;
    background-color: #f5f5f5;
  border:none;
}
.btn-especial{
  position: relative;
  vertical-align: center;
  color: #1a2156;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  padding:14px 15px 14px 15px;
  outline: none !important;
}
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:10px 12px 10px 12px;
  outline: none !important;
}
.btn-especial-grande{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  line-height:22px;
  padding:13px 15px 13px 15px;
  font-size:21px;
}
.btn-especial2{
  position: relative;
  vertical-align: center;
  color: #fff;
  text-align: center;
  background: #a50f0f;
  border: 0;
  border-left: 10px solid #1a2156;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:14px 35px 14px 35px;
  font-size:20px;
}
.btn-especial3{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:10px 25px 10px 25px;
  font-size:16px;
}
.btn-especial:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-especial:hover {
  background: #e5e5e5;
  color: #a50f0f;
}
.boton-abajo-right{
  float:right;
  }
.boton-abajo-left{
  float:left;
  }
.boton-abajo-right i{
color: #a50f0f;
  }
.boton-abajo-left i{
color: #a50f0f;
  }

.ui-slider-range {
   background:green;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.numero-grande{
  font-size:80px;
  color:#a50f0f;
  display:block;
  }
.resultado-carita{
  .img-responsive {
    margin: 20px auto 0 auto;
  }
}
.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.bg-info{
  background-color:#e5e5e5;
  padding:10px;
  font-family: 'Capriola', sans-serif;
  img {
    margin: 10px auto;
  }
}
footer{
  background-color:#1a2156;
  padding:10px 0;
  }
footer a{
  margin:5px;
  color:#fff;
  cursor: pointer;
  }
footer a:hover{
  color:#fff;
  }

.final-final{
  background-color:#ebebeb;
  margin-right:30px;
  margin-bottom:20px;
  padding:15px;
  color:#a50f0f;
  text-align:center;
  }
.final-final b{
  text-decoration:underline;
  }

*/

//Pala CSS

.slider.slider-horizontal .slider-track{
	height: 4px;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle{
	margin-top: -8px;
	background:#a50f0f;
}

.slider-selection{
	background: #a50f0f;
}

.modal-chq{
  .modal-dialog{
    box-shadow: -20px -20px 0px #a80e16;
    background-color: #fff;
    border-radius: 0px;
    .modal-content{
      box-shadow: none;
      border: none;
      .modal-header{
        border: none;
      }
      .modal-footer{
        border: none;
      }
    }
  }
}

.btn-container{
  margin-top: 20px;
}

#img-credit{
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 12px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .resultado-carita{
    margin-top: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  footer a{
    display: block;
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
