@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

*:focus,
* {
    outline: none !important;
}

textarea{
  resize: none;
}

.form-control {
  border-radius: 0px;
}


/* CSS de  Mariana */

body{
  background: url('/images/chqv2/nuevos/mar.gif') #3e4eff no-repeat center center fixed !important;
  //background-color: #3e4eff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  box-shadow: none;
  overflow-x: hidden;
  &.body-home{
    padding-top: 0px;
  }
  &.body-app{
  }
  }
.credit{
  position: absolute;
  top: 0px;
  right: 10px;
}
.jumbotron{
  box-shadow: -20px -20px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron-home{
  /* box-shadow:none;
  background-color: none; 
  background: url('/images/chqv2/nuevos/UNIDO_MAIN_3.gif') no-repeat top center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; */
  min-height: 100vh;
  }
.jumbotron-final{
  box-shadow: -20px 0px 0px #a80e16;
  background-color: #fff;
  }
.container .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius:0px;
  margin-top:20px;
  padding-top:20px;
}
.navbar-inverse{
  background:#e5e5e5;
    border: none;
  }
.navbar-nav{
  text-align:right;
  float:right;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  padding:15px 0 0 5px;
  }
p.respuesta{
  font-size:13px;
  margin: -5px -5px 10px;
  font-weight: bold;
  color:#333333;
  }
@media (min-width: 1200px) {
  .navbar-brand{
  font-size:16px;
  padding:20px 0 0 10px;
  }
  p.respuesta{
  font-size:13px;
  margin: -5px -5px 10px;
  font-weight: bold;
  color:#333333;
  }
}
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  font-size:12px;
  }
@media (min-width: 1200px) {
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  }
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color:#1a2157;
  }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:#a80e16;
  }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#a80e16;
}

.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:16px
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:#494949;
  font-size:11px;
  text-transform:uppercase;
}
@media (min-width: 1200px) {
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:20px
}
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:30px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:30px
}}

.jumbotron p.pregunta-counter{
  font-size:12px;
  font-weight:400;
  color:white;
  padding:0;
  margin:0;
  text-transform:uppercase;
  }
.well {
    min-height: 20px;
    padding: 10px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0 0 0;
}
.well p{
  font-size:16px;
  }
@media (min-width: 1200px) {
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0;
}
.well p{
  font-size:22px;
  }
}
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 5px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:12px;
  border:none;
  margin-bottom:5px;
}
@media (min-width: 1200px) {
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 40px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:16px;
  border:none;
  margin-bottom:15px;
}
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #a50f10;
    text-decoration: none;
    background-color: #f5f5f5;
  border:none;
}
.btn-especial{
  position: relative;
  vertical-align: center;
  color: #1a2156;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  padding:14px 15px 14px 15px;
}
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:5px 6px 5px 6px;
}
.btn-especial-grande{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  line-height:22px;
  padding:13px 15px 13px 15px;
  font-size:21px;
}
.btn-especial2{
  position: relative;
  vertical-align: center;
  color: #fff;
  text-align: center;
  background: #a50f0f;
  border: 0;
  border-left: 10px solid #1a2156;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:14px 35px 14px 35px;
  font-size:20px;
}
.btn-especial3{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:10px 25px 10px 25px;
  font-size:16px;
}
.btn-especial:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-especial:hover {
  background: #e5e5e5;
  color: #a50f0f;
}
.boton-abajo-right{
  float:right;
  }
.boton-abajo-left{
  float:left;
  }
.boton-abajo-right i{
color: #a50f0f;
  }
.boton-abajo-left i{
color: #a50f0f;
  }

.ui-slider-range {
   background:green;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

.numero-grande{
  font-size:40px;
  color: #286697;
  display: block;
  font-weight: bold;
  margin-bottom:5px;
  padding:0;
  }
.jumbotron .col-md-6{
  margin-bottom:30px;
  }
.resultado-carita .img-responsive {
    margin: 10px auto 0 auto;
}
.btn{
  font-size:10px;
  }
@media (min-width: 1200px) {
  .numero-grande{
  font-size:60px;
  color: #286697;;
  display: block;
  font-weight: bold;
  }
.jumbotron .col-md-6{
  margin-bottom:0px;
  }
.resultado-carita .img-responsive {
    margin: 20px auto 0 auto;
}
.btn{
  font-size:14px;
  }
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:10px 12px 10px 12px;
}
}

.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.bg-info{
  background-color:#e5e5e5;
  padding:10px;
  font-family: 'Capriola', sans-serif;
}
footer{
  background-color:#1a2156;
  padding:10px 0;
  }
footer a{
  margin:5px;
  color:#fff;
  cursor: pointer;
  }
footer a:hover{
  color:#fff;
  }
.modal-content {
    /*-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);*/
}
.modal-body {
  background: url('/images/chqv2/nuevos/conteiner.gif') no-repeat top center;
  background-size: cover;
  padding: 1px 30px;
}
.final-final{
  background-color:#ebebeb;
  margin-right:30px;
  margin-bottom:20px;
  padding:15px;
  color:#a50f0f;
  text-align:center;
  }
.final-final b{
  text-decoration:underline;
  }
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

/* CSS anterior */

/*
body{
  background: #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: none;

    &.body-home{
      padding-top: 0px;
    }
    &.body-app{
      padding-top: 100px;
    }
  }
.body2{
  background: url('/images/bg-home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.jumbotron{
  box-shadow: -20px -20px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron-home{
  box-shadow:none;
  background-color: none;
  background: url('/images/bg-transparente.png') repeat;
  height: 100vh;
    .logo-home{
      margin: 30px 0;
    }
  }
.jumbotron-final{
  box-shadow: -20px 0px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
    &.respuesta{
      margin-top: 20px;
    }
}
.container .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius:0px;
  margin-top:20px;
  padding-top:0px !important;
}
.navbar-inverse{
  background:#e5e5e5;
    border: none;
  }
.navbar-nav{
  text-align:right;
  float:right;
  }
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color:#1a2157;
  text-transform:uppercase;
  font-weight:300;
  text-shadow:0;
  }
.navbar-brand span.text-muted{
  color:#ccc;
  font-weight:normal;
  font-size:12px;
  }
@media (min-width: 1200px) {
  .navbar-brand span.text-muted{
    color:#ccc;
    font-weight:normal;
    }
  .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    color:#1a2157;
    text-transform:uppercase;
    font-weight:300;
    text-shadow:0;
  }
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color:#1a2157;
  }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:#a80e16;
  }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#a80e16;
}

.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:20px
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:#494949;
  font-size:11px;
  text-transform:uppercase;
}
@media (min-width: 1200px) {
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:30px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:30px
}}
.progress-bar-success {
background-color: #a50f10;
background-image: none;
}

.jumbotron p.pregunta-counter{
  font-size:12px;
  font-weight:200;
  color:#a50f10;
  padding:0;
  margin:0;
  text-transform:uppercase;
  }
.well {
    min-height: 20px;
    padding: 10px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0 0 0;
}
.well p{
  font-size:16px;
  }
@media (min-width: 1200px) {
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0;
}
.well p{
  font-size:22px;
  }
}
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 5px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:12px;
  border:none;
  margin-bottom:5px;
}
@media (min-width: 1200px) {
.list-group{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
  margin:20px 0 40px 0;
  }
a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  font-family: 'Capriola', sans-serif;
  font-size:16px;
  border:none;
  margin-bottom:15px;
}
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #a50f10;
    text-decoration: none;
    background-color: #f5f5f5;
  border:none;
}
.btn-especial{
  position: relative;
  vertical-align: center;
  color: #1a2156;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  padding:14px 15px 14px 15px;
  outline: none !important;
}
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:10px 12px 10px 12px;
  outline: none !important;
}
.btn-especial-grande{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  line-height:22px;
  padding:13px 15px 13px 15px;
  font-size:21px;
}
.btn-especial2{
  position: relative;
  vertical-align: center;
  color: #fff;
  text-align: center;
  background: #a50f0f;
  border: 0;
  border-left: 10px solid #1a2156;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:14px 35px 14px 35px;
  font-size:20px;
}
.btn-especial3{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:10px 25px 10px 25px;
  font-size:16px;
}
.btn-especial:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-especial:hover {
  background: #e5e5e5;
  color: #a50f0f;
}
.boton-abajo-right{
  float:right;
  }
.boton-abajo-left{
  float:left;
  }
.boton-abajo-right i{
color: #a50f0f;
  }
.boton-abajo-left i{
color: #a50f0f;
  }

.ui-slider-range {
   background:green;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.numero-grande{
  font-size:80px;
  color:#a50f0f;
  display:block;
  }
.resultado-carita{
  .img-responsive {
    margin: 20px auto 0 auto;
  }
}
.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.bg-info{
  background-color:#e5e5e5;
  padding:10px;
  font-family: 'Capriola', sans-serif;
  img {
    margin: 10px auto;
  }
}
footer{
  background-color:#1a2156;
  padding:10px 0;
  }
footer a{
  margin:5px;
  color:#fff;
  cursor: pointer;
  }
footer a:hover{
  color:#fff;
  }

.final-final{
  background-color:#ebebeb;
  margin-right:30px;
  margin-bottom:20px;
  padding:15px;
  color:#a50f0f;
  text-align:center;
  }
.final-final b{
  text-decoration:underline;
  }

*/

//Pala CSS

.slider.slider-horizontal .slider-track{
	height: 6px;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle{
	margin-top: -8px;
	background:#286697;
}

.slider-selection{
	background: #286697;
}

.modal-chq{
  .modal-dialog{
    min-height: 100vh;
    padding: 10vh 5%;
    background: url('/images/chqv2/nuevos/fondo5.gif') no-repeat top center;
  //  background: url(/images/chqv2/fondo2.png) no-repeat top center;
    background-size: cover;
    margin-bottom: 0;
  }
}

.btn-container{
  text-align: center;
}

#img-credit{
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 12px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .resultado-carita{
    margin-top: 20px;
  }
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .box1{
    background-repeat: no-repeat;
    background-size: 100%!important;
    background-position: top center !important;
    margin-bottom: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  footer a{
    display: block;
    width: 100%;
  }

  .row {
    margin-right: 0px !important; 
    margin-left: 0px !important;
  }

  .modal-chq{
    .modal-dialog{
      margin: 0px!important; 
    }
  }
  // Joaco CSS Edición 2020

  // Pili CSS Re-Edicion 2020



  .body2 {
    display: flex;
    flex-direction: column;
  }

  .body2 .jumbotron-home .start-button{   
    /*margin: 30vh auto 0!important;*/

  }

  .jumbotron-home{
    background-size: cover;
    height: 70vh;
  }

  .theme-showcase{
    margin-bottom: 10vh;
  }

  .question-title {
    background: url('/images/chqv2/titulo-preg.gif') no-repeat!important;
    height: 60px!important;
    background-size: contain!important;
    padding-top: 34px!important;
  }

  .question-action{ 
    background: url('/images/chqv2/nuevos/titulo-preg.gif') no-repeat !important;
    background-size: cover !important;
    padding-top: 10px!important; 
    margin-left: -35px;
    margin-right: -15px;
  }

  .question-container{ 
    background-size: cover!important;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

// Joaco CSS Edición 2020
.chart{
  width:100% !important;
}

.body2 .jumbotron-home .start-button {    
  /* margin: 76vh auto 0; */
}

.modal-title {
  background: url('/images/chqv2/nuevos/titulo-preg.gif');
  height: 90px;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  color: #333333;
  font-weight: bold;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
/*   margin-left: -50px;
  margin-right: -50px; */
  margin-bottom: 35px;
}

.modal-button {
  color: #333333; 
  font-size: 16px;
  background-color: #fee562;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  border-radius: 13px 12px 15px 14px;
  padding: 10px;
  box-shadow: inset 4px 5px 1px rgba(255,255,255,.7), inset -4px -5px 1px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
  text-decoration: none;
  display:block;
}

.modal-button a{  
  color: #333333;
}

.modal-body a:hover {
  color: #333333;;
  text-decoration: none;
}

.modal-body a:focus {
  color: #333333;;
  text-decoration: none;   
}


.modal-chq p{
  margin: 30px 0;
}

.modal-chq p img{
  padding-bottom: 7px;
}

.question-container{
  background: url('/images/chqv2/nuevos/fondo5.gif') no-repeat top center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  min-height: 100vh;
  padding-top:10vh;
  position: relative;
}

.fondo6{
   background: url('/images/chqv2/nuevos/UNIDO_5.gif') no-repeat top center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  min-height: 100vh;
  padding-top:10vh;
  position: relative;
}

.final-summary .question-action{
  background: url('/images/chqv2/nuevos/titulo-preg.gif');
  height: 80px;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  color: #333333;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.final-summary .question-action span{
  font-size: 16px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.final-summary .recomendation h3{
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.final-summary .recomendation ul{
  list-style: none;
}

.final-summary .recomendation ul li a{
  color: white;
  font-weight: bold;
}

.container-pregunta{
  max-width: 522px;
  margin: auto; 
  padding-bottom: 50px;
}

.question-title{    
 text-shadow: 2px 2px #333333;
 height: 80px;
 background-size: cover;
 text-align: center;
 padding-top: 51px;
 color: white;
 font-weight: bold;
 margin-top: -45px;
 margin-bottom: 10px;
 text-transform: uppercase;
 letter-spacing: 0.05em;

}

.pregunta-counter{
  color:white;
  font-weight: bold;
  font-size:16px;
  margin-bottom: 0;
}


.question-action{        
  background: url('/images/chqv2/nuevos/titulo-preg.gif');
  height: 80px;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  color: #333333;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 24px;

}

.question-option{
  color: #333333!important;
  background-color: #fee562!important;
  font-weight: normal;
  margin: 10px auto;
  border-radius: 9px 7px 8px 7px!important;
  padding: 10px;
  box-shadow: inset 4px 5px 1px rgba(255,255,255,.7), inset -4px -5px 1px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
  text-align: center; 
  font-size:13px!important;
}

.no-idea-option{
  color: #333333!important;
  background-color:#fee562 !important;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 4px 5px 1px rgba(255,255,255,.7), inset -4px -5px 1px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
  text-align: center;
}

.no-idea-option:hover, .no-idea-option:focus{
  text-decoration: none;
  background-color: #ff9a0d;
}

.options-group{
  background: url('/images/chqv2/nuevos/caja.gif') no-repeat;
  background-size: cover;
  padding: 15px 45px;
  margin: 0;
}


.question-option:hover{
  background-color: #ff9a0d!important;
  cursor:pointer;
}

.slider-box{
  background: url('/images/chqv2/nuevos/caja.gif') no-repeat;
  background-size: cover;
  padding: 25px 50px;
}

.slider-title{

}


.skip-question{        
  color: #333333;
  height: 35px;
  font-size: 16px;
  background-color: #fee562;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  border-radius: 13px 12px 15px 14px;
  padding: 10px;
  box-shadow: inset 4px 5px 1px rgba(255, 255, 255, 0.7), inset -4px -5px 1px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 0 20px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.skip-question img {
  padding-bottom: 2px;
  padding-right: 6px;
}


.skip-question2{        
  color: #333333;
  font-size: 16px;
  background-color: #fee562;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  border-radius: 13px 12px 15px 14px;
  padding: 10px;
  box-shadow: inset 4px 5px 1px rgba(255, 255, 255, 0.7), inset -4px -5px 1px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
}

.skip-question2 img {
  padding-bottom: 2px;
  padding-right: 6px;
}

.results-analysis{
  color:black;
  text-align: center;
  font-size: 11px;
  padding:20px;
}
.results-analysis p{
  margin-bottom: 0;
}

ul.doughnut-legend{
  text-align: left;
  display: none;
}

ul.doughnut-legend li{
  border-radius: 5px;
  padding: 0px 8px 0px 28px;
}

ul.doughnut-legend .doughnut-legend-icon{
  height:15px;
  width:15px;
}

 
.box1, .box2{
  background-size: cover;
  padding: 30px 20px 5px 20px;
}

.box1{
  background: url('/images/chqv2/nuevos/fondo_grafico.gif') no-repeat top center;
}

.box2{
  background-size: cover;
  padding-top: 0;
}

.box3{
  background-size: cover;
  background: url('/images/chqv2/nuevos/fondo_grafico.gif') no-repeat top center; 
  background-size: cover;
  margin:30px 0px;
  padding: 25px 15px 0px;
  text-align: center;
}

.share {
  //padding: 0 40px 0 15px;
  color:#333333;
  font-weight: bold;
  text-align: center;
} 

.share .surprise {
  margin-top: 4px;
  margin-bottom: 10px;
}
.share p{
  margin: 15px 0 5px; 
  font-size: 12px;
}

.results-analysis{
  background: url('/images/chqv2/nuevos/caja.gif') no-repeat top center;
}
 
.progress {
  border-radius: 0px;
  border: 5px solid #995e18;
  height: 40px;
  position: relative;
  background-color: #beac88;
  margin-bottom: 0px;
}

.progress-corner {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
}

.pbr {
  right: 14px;
  bottom: 0px;
}

.ptr {
  right: 14px;
  top: 21px;
}

.pbl {
  left: 14px;
  bottom: 0px;
}

.ptl {
  left: 14px;
  top: 21px;
}

.progress-bar-success {
  background-color: #286697 !important;
}

.img-icon{
  width: 60px;
}

.share-facebook, .share-twitter, .back-home{
  background: url('/images/chqv2/nuevos/share.gif');
  height: 40px;
  background-size: cover;
  text-align: center; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.share-twitter img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: sub;
}

.share-facebook img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: sub;
}

.share a:active {
  height: 40px;
  background-size: cover;
  text-align: center; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.share a:hover {
  height: 40px;
  background-size: cover;
  text-align: center; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.share a:focus {
  height: 40px;
  background-size: cover;
  text-align: center; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}


.see-sources{
  background: url('/images/chqv2/nuevos/btn_fuentes.gif');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.see-sources a{
  color: white;
}

.see-sources-2{
  background: url('/images/chqv2/nuevos/btn-largo.gif');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.see-sources-2 a{
  color: white;
}



.final-sub{
  color:white;
  font-weight: bold;
  text-align: center;
}