@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

*:focus,
* {
    outline: none !important;
}

textarea{
  resize: none;
}

.form-control {
  border-radius: 0px;
}

/* CSS de  UNICEF */

$blue: #00248F;
$blue-dark: #0B1E60;
$blue-light: #0168B5;
$blue-ultra-light: #A5C5E3;
$green: #00C595;
$green-light: #ADFFE8;
$white: #fff;

body{
  background: url(/images/unicef/VYCM_BG_desktop.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  box-shadow: none;
  &.body-home{
    padding-top: 0px;
  }
  &.body-app{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body:after{
 display:none;
 content: url(/images/unicef/boton_hover.svg);
}

#container-home{
  min-height: 100vh;
  & .logo-home{
    margin-bottom: 15px;
  }
}

#central-container{
  background: url(/images/unicef/bg-transparente.png) repeat;
  min-height: 100vh;
  padding: 30px 50px;
  &:before{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 37px;
    height: 100vh;
    background-image: url(/images/unicef/tira_de_mases.svg);
    background-repeat: repeat-y;
  }
}


.text-title-1{
  text-transform: uppercase;
  color: white;
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1em;
}

.text-subtitle-1{
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.text-subtitle-2{
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

.btn-unicef-circle {
  display: block;
  height: 100px;
  width: 100px;
  margin: 15px 0px;
  background-image: url(/images/unicef/boton.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: opacity .5s ease;
  opacity: 0.75;
  &:hover{
    background-image: url(/images/unicef/boton_hover.svg);
    opacity: 1;
  }
}

.btn-unicef-green{
  position: relative;
  vertical-align: center;
  color: $blue;
  background-color: $green;
  border: 0;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:15px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  transition: background-color .5s ease, color .5s ease;
  & span {
    font-size:20px;
  }
  & i {
    font-size:30px;
    padding: 0px;
    margin: 0px;
  }
  &:hover{
    background-color: $blue;
    color: $green;
  }
}

.btn-unicef-green-light{
  color: $blue;
  text-decoration: none;
  background-color: $green-light;
  font-size:17px;
  border:none;
  margin-bottom:15px;
  text-align: center;
  transition: background-color .5s ease;
  border-radius: 0px;
  &:hover{
    background-color: $green;
  }
}

.btn-unicef-blue{
  position: relative;
  vertical-align: center;
  color: $white;
  background-color: $blue-light;
  border: 0;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:15px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  transition: background-color .5s ease;
  & span {
    font-size:15px;
  }
  &:hover{
    background-color: $blue;
    color: $white;
    & span {
      color: $white;
    }
  }
  &:focus{
    & span {
      color: $white;
    }
  }
}

#stats-container{
  margin: 30px 0px 0px 0px;
  .resultado-porcentaje {
    .numero-grande{
      font-size:40px;
      font-weight: bold;
      display:block;
      margin:0;
      padding:0;
    }
  }
  .resultado-carita{
    .numero-grande{
      font-size:40px;
      font-weight: bold;
      display:block;
      margin:0;
      padding:0;
    }
  }
  .table{
    td{
      border-bottom: 1px solid $blue-ultra-light;
    }
    thead {
      td {
        color: $blue;
        font-weight: 600;
      }
    }
  }
  #fuenteCollapse {
    p {
      color: $blue;
    }
  }
}

.modal-unicef{
  .modal-dialog{
    background-image: url(/images/unicef/VYCM_BG_mobile.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0px;
    padding: 30px;
    .modal-content{
      background: url(/images/unicef/bg-transparente-75.png) repeat;
      box-shadow: none;
      border: none;
      border-radius: 0;
      .modal-header{
        border: none;
        padding: 30px 30px 10px 30px;
        .modal-title{
          font-size: 25px;
          color: $blue;
        }
        button.close{
          font-size: 50px;
          position: relative;
          top: -23px;
          left: 18px;
          opacity: 0.8;
          transition: opacity .5s ease;
          text-shadow: none;
          span {
            color: $blue;
          }
          &:hover{
            opacity: 1;
          }
        }
      }
      .modal-body{
        border: none;
        padding: 10px 30px 30px 30px;
        p {
          font-size: 20px;
        }
      }
      .modal-footer{
        border: none;
        padding: 30px;
      }
    }
  }
}


#question-content-container{
  .question-body{
    background: url(/images/unicef/bg-transparente-75.png) repeat;
    padding: 30px;
    h1{
      text-align: center;
      color: $blue-dark;
      font-family: 'Montserrat', sans-serif;
      font-size:30px;
      text-align:center;
      text-transform:uppercase;
    }
    h3{
      text-align: center;
      color: $blue-dark;
      font-family: 'Montserrat', sans-serif;
      font-size:20px;
      text-align:center;
      text-transform:uppercase;
    }
    .progress {
      background-color: $blue-ultra-light;
      border-radius: 0px;
      height: 30px;
      padding: 5px;
      margin-bottom:10px;
      .progress-bar-success {
        background-color: $blue-light;
        background-image: none;
        height: 20px;
      }
    }
    .question-counter{
      font-size:12px;
      font-weight:200;
      color:$blue-light;
      padding:0;
      margin:0;
      text-transform:uppercase;
    }
    .answer-selection{
      font-size:12px;
      font-weight:200;
      color:$blue;
      padding:0;
      text-transform:uppercase;
      margin: 10px 0px 20px 0px;
    }
    .question-text{
      min-height: 20px;
      padding: 20px 10%;
      background-color: $green;
      color:$blue;
      margin:20px 0 0 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      font-weight: 600;
      p {
        text-align: center;
        margin:0;
      }
    }
    .btn-container{
      padding: 0 15px;
    }
    .list-group{
      margin:20px 0 20px 0;
      a.list-group-item:focus, a.list-group-item, button.list-group-item:focus, button.list-group-item {
        color: $blue;
        text-decoration: none;
        background-color: $green-light;
        font-size:17px;
        border:none;
        margin-bottom:15px;
        text-align: center;
        transition: background-color .5s ease;
        &:hover{
          background-color: $green;
        }
      }
    }
    .slider.slider-horizontal {
      margin: 20px 0px 10px 0px;
      .slider-track {
        height: 10px;
      }
      .slider-tick,.slider-handle {
        margin-top: -15px;
        height: 40px;
        width: 40px;
        background: $blue-light;
      }
      .slider-selection {
        background: $blue-ultra-light;
      }
    }
    .resultado-porcentaje{
      color: $blue;
    }
    .resultado-carita{
      color: $blue;
    }
  }
}

.navbar{
  .container{
    width: 100%;
  }
  background-color:$blue-dark;
  border-radius: 0px;
  padding: 20px 15px 5px 15px;
  margin: 0;
  .navbar-brand{
    font-weight: 800;
    color: $white;
    small{
      color: $white;
      font-weight: 400;
    }
  }
  .navbar-collapse {
    .navbar-nav{
      float: right;
      margin-right: 30px;
    }
  }
  #quit-btn{
    color: $white;
    background-color: $blue-dark;
    transition: background-color .5s ease;
    &:hover{
      background-color: $blue;
    }
  }
}

footer{
  background-color:$blue-dark;
  padding: 15px 30px;
  .container-img{
    display: flex;
    align-items: center;
    img{
      margin: 0 auto;
    }
  }
  a{
  }
}

#question-container{
  padding-top: 25px;
  .text-title-1{
    font-size: 40px;
    margin-bottom: 15px;
  }
  .logo-summary{
    width: 100px;
  }
  #central-column{
    background: url(/images/unicef/bg-transparente-75.png) repeat;
    padding: 30px 50px 20px 50px;
    p.regular-text {
      color: $blue;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    .summary-btns-container{
      margin-top: 20px;
    }
    .results-container {
      .little-title{
        font-weight: 600;
        text-align: center;
        line-height: 1.1em;
        background-color: $green;
        color:$blue;
        padding: 15px 10px;
        margin-top: 10px;
      }
      .item{
        cursor: default;
        span{
          text-align: center;
        }
        &:hover{
          background-color: $green;
          color: $blue;
        }
      }
    }
    .results-number{
      min-height: 20px;
      color:$blue;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      font-weight: 600;
      p {
        text-align: center;
        margin:0;
      }
    }
  }
  footer{
    margin: 0 -15px;
  }
}

#question-detail-container{
  padding-top: 25px;
  .text-title-1{
    font-size: 40px;
    margin-bottom: 15px;
  }
  .logo-summary{
    width: 100px;
  }
  #central-column{
    background: url(/images/unicef/bg-transparente-75.png) repeat;
    padding: 30px 50px 20px 50px;
    p.regular-text {
      color: $blue;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    p.p-text{
      color: $blue;
      font-size: 15px;
    }
  }
  .question-title{
    font-weight: 600;
    text-align: center;
    line-height: 1.1em;
    background-color: $green;
    color:$blue;
    padding: 15px 10px;
    margin-top: 10px;
  }
  footer{
    margin: 0 -15px;
  }
}


/* Flex */

.flex-justify-end{
  display: flex;
  justify-content: flex-end;
}

.flex-align-end{
  display: flex;
  align-items: flex-end;
}

.flex-direction-col{
  display: flex;
  flex-direction: column;
}

.flex-justify-space-between{
  display: flex;
  justify-content: space-between;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body{
    background-image: url(/images/unicef/VYCM_BG_mobile.png);
    &.body-app{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  #container-home{
    & .logo-home{
      max-width: 100px;
    }
  }

  #central-container{
    background: none;
  }
  .btn-unicef-circle{
    opacity:1;
  }
  .text-title-1{
    font-size: 40px;
  }
  .text-subtitle-1{
    font-size: 18px;
  }
  .text-subtitle-2{
    font-size: 13px;
  }

  .btn-unicef-green{
    & span {
      font-size:15px;
    }
    & i {
      font-size:20px;
    }
  }

  .modal-unicef{
    .modal-dialog{
      padding: 15px;
      margin: 0px;
      .modal-content{
        .modal-header{
          padding: 10px 10px 5px 10px;
          .modal-title{
            font-size: 15px;
          }
          button.close{
            font-size: 25px;
            top: 0px;
            left: 0px;
          }
        }
        .modal-body{
          padding: 5px 10px 10px 10px;
        }
        .modal-footer{
          padding: 10px;
        }
      }
    }
  }

  footer {
    .container-img{
      display: block;
      img{
        max-width: 80%;
      }
    }
  }

  .navbar{
    padding: 10px 15px 5px 15px;
    .navbar-brand{
      small{
        display: block;
      }
    }
  }

  #question-content-container{
    .question-body{
      padding: 15px;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


//-- END UNICEF STYLES

/*

.jumbotron{
  box-shadow: -20px -20px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron-home{
  box-shadow:none;
  background-color: none;
  background: url(/images/bg-transparente.png) repeat;
  height: 100vh;
  }
.jumbotron-final{
  box-shadow: -20px 0px 0px #a80e16;
  background-color: #fff;
  }
.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.container .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius:0px;
  margin-top:20px;
  padding-top:20px;
}

p.respuesta{
  font-size:12px;
  margin:20px 0;
  }
@media (min-width: 1200px) {

  p.respuesta{
  font-size:16px;
  margin:20px 0;
  }
}


.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:16px
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:#494949;
  font-size:11px;
  text-transform:uppercase;
}
@media (min-width: 1200px) {
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:20px
}
.jumbotron h1{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:30px;
}
h2{
  font-family: 'Capriola', sans-serif;
  text-align:center;
  color:#494949;
  font-size:30px
}}
.progress-bar-success {
background-color: #a50f10;
background-image: none;
}

.jumbotron p.pregunta-counter{
  font-size:12px;
  font-weight:200;
  color:#a50f10;
  padding:0;
  margin:0;
  text-transform:uppercase;
  }
.well {
    min-height: 20px;
    padding: 10px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0 0 0;
}
.well p{
  font-size:16px;
  }
@media (min-width: 1200px) {
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  background-image: none;
    background-color:#1a2157;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  font-family: 'Capriola', sans-serif;
  color:white;
  margin:20px 0;
}
.well p{
  font-size:22px;
  }
}


@media (min-width: 1200px) {

.btn-especial{
  position: relative;
  vertical-align: center;
  color: #1a2156;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  padding:14px 15px 14px 15px;
}
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:5px 6px 5px 6px;
}
.btn-especial-grande{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-bottom:0;
  line-height:22px;
  padding:13px 15px 13px 15px;
  font-size:21px;
}

.btn-especial3{
  position: relative;
  vertical-align: center;
  color: #a50f0f;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin:30px 0;
  padding:10px 25px 10px 25px;
  font-size:16px;
}
.btn-especial:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-especial:hover {
  background: #e5e5e5;
  color: #a50f0f;
}
.boton-abajo-right{
  float:right;
  }
.boton-abajo-left{
  float:left;
  }
.boton-abajo-right i{
color: #a50f0f;
  }
.boton-abajo-left i{
color: #a50f0f;
  }

.ui-slider-range {
   background:green;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.numero-grande{
  font-size:40px;
  color:#a50f0f;
  display:block;
  margin:0;
  padding:0;
  }
.jumbotron .col-md-6{
  margin-bottom:30px;
  }
.resultado-carita .img-responsive {
    margin: 10px auto 0 auto;
}
.btn{
  font-size:10px;
  }
@media (min-width: 1200px) {
  .numero-grande{
  font-size:80px;
  color:#a50f0f;
  display:block;
  }
.jumbotron .col-md-6{
  margin-bottom:0px;
  }
.resultado-carita .img-responsive {
    margin: 20px auto 0 auto;
}
.btn{
  font-size:14px;
  }
.btn-especial-chico{
  position: relative;
  vertical-align: center;
  color: #000000;
  text-align: center;
  background: #e5e5e5;
  border: 0;
  border-left: 10px solid #a50f0f;
  cursor: pointer;
  border-radius:0px;
  text-transform:uppercase;
  text-shadow: none;
  margin-top:20px;
  margin-bottom:0;
  padding:10px 12px 10px 12px;
}
}

.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.bg-info{
  background-color:#e5e5e5;
  padding:10px;
  font-family: 'Capriola', sans-serif;
}
.final-final{
  background-color:#ebebeb;
  margin-right:30px;
  margin-bottom:20px;
  padding:15px;
  color:#a50f0f;
  text-align:center;
  }
.final-final b{
  text-decoration:underline;
  }


//Pala CSS

.slider.slider-horizontal .slider-track{
	height: 4px;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle{
	margin-top: -8px;
	background:#a50f0f;
}

.slider-selection{
	background: #a50f0f;
}

.modal-chq{
  .modal-dialog{
    box-shadow: -20px -20px 0px #a80e16;
    background-color: #fff;
    border-radius: 0px;
    .modal-content{
      box-shadow: none;
      border: none;
      .modal-header{
        border: none;
      }
      .modal-footer{
        border: none;
      }
    }
  }
}

.btn-container{
  margin-top: 20px;
}

#img-credit{
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 12px;
}

*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .resultado-carita{
    margin-top: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  footer a{
    display: block;
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

